Repository woowa-techcamp-2022/web-todo-9, pull requests merged in 2022-07, with the labels that each got.

#5 Feat/webpack setting
  .vscode/settings.json
  frontend/jsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.js
  frontend/src/commons/styles/_colors.scss
  frontend/src/components/Todos/test.js
  frontend/src/index.html
  frontend/src/webpack.common.js
  frontend/webpack.config.js
Labels: frontend

#3 [FEATURE] ESLint, Prettier 설정하기
  .vscode/settings.json
  frontend/.eslintrc.js
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.js
Labels: frontend

#11 [FEATURE] 백엔드 개발환경 세팅(1)
  backend/.gitignore
  backend/.jsconfig.json
  backend/nodemon.json
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/controller/noti.js
  backend/src/controller/todo.js
  backend/src/data/scheme.sql
  backend/src/lib/db.js
  backend/src/routes/index.js
  backend/src/routes/noti.js
  backend/src/routes/todo.js
  backend/src/utils/create-response.js
  backend/src/utils/create-update-query.js
  backend/src/utils/status-code.js
Labels: frontend

#17 Feat/noti back
  backend/src/controller/noti.js
  backend/src/controller/todo.js
  backend/src/data/scheme.sql
Labels: backend

#16 [FEATURE] 카드 GET API 통해 불러오기
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/controller/todo.js
  frontend/src/components/DataProvider/index.js
  frontend/src/components/Todos/index.js
  frontend/src/components/app.js
  frontend/src/constants/.keep
  frontend/src/constants/mapper.js
  frontend/src/libs/api.js
Labels: frontend, backend

#24 [FEATURE] 카드 수정 기능 구현
  backend/src/controller/todo.js
  frontend/.eslintrc.js
  frontend/src/commons/styles/global.scss
  frontend/src/components/TodoCard/index.js
  frontend/src/components/TodoCard/index.scss
  frontend/src/components/Todos/index.js
  frontend/src/libs/api.js
Labels: frontend

#28 [FEATURE] 카드 삭제 기능 구현
  backend/src/data/scheme.sql
  frontend/.eslintrc.js
  frontend/src/components/TodoCard/index.js
  frontend/src/components/TodoCard/index.scss
  frontend/src/components/Todos/index.js
  frontend/src/libs/api.js
Labels: frontend

#34 [FEATURE] 카드 드래그앤드롭으로 컬럼간(내) 이동하기
  .vscode/settings.json
  backend/src/controller/todo.js
  frontend/src/commons/utils/getOffset.js
  frontend/src/components/DataProvider/index.js
  frontend/src/components/Nav/index.js
  frontend/src/components/Notification/.keep
  frontend/src/components/Notifications/.keep
  frontend/src/components/Notifications/index.js
  frontend/src/components/TodoCard/index.js
  frontend/src/components/TodoCard/index.scss
  frontend/src/components/Todos/index.js
  frontend/src/components/Todos/index.scss
  frontend/src/components/app.js
  frontend/src/components/app.scss
  frontend/src/libs/api.js
Labels: frontend
